# Ambiente virtual Python
.venv/
venv/
env/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Cache do Pygame / compilados
*.so
*.dll

# Arquivos de sistema Windows
Thumbs.db
desktop.ini

# VS Code
.vscode/

# Build e distribuição
dist/
build/
*.egg-info/
